# No dot-directories except github/vscode
.*/
!.vscode/
!.github/
.vscode/launch.json

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz
src-admin/build/**
Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
.eslintcache
.commitinfo